{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="row justify-content-around">
    <div class="card">
        <article class="card-body">
            <h4 class="card-title text-center mb-4 mt-1">{% trans 'Password reset' %} !</h4>
            <hr>
            <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
            <p class="text-center"><a href="/" class="btn btn-primary">{% trans 'Log in' %}</a></p>
        </article>
    </div>
</div>

{% endblock %}