{% load i18n static hijack_tags bootstrap4 common_tags django_bootstrap_breadcrumbs %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WP Referees Assessement</title>

    <!-- Bootstrap core CSS -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'select2/css/bootstrap-select.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
   
    <style>
    body {
      padding-top: 4.5rem;
    }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Demo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/">{% trans 'Matchs' %}</a>
          </li>
          {% if user.is_staff or user.is_referee_admin %}
          <li class="nav-item">
            <a class="nav-link" href="/stats/">{% trans 'Statistics' %}</a>
          </li>
          {% endif %}
          {% endif %}
        </ul>
        <ul class="navbar-nav navbar-right">
          <li>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <form name="ui" action="{% url 'set_language' %}" method="post">{% csrf_token %}
              <input name="language" type="hidden"/>
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              <div class="btn-group mr-2" role="group">
              {% for language in languages %}
                  <a class="btn btn-secondary {% if language.code == LANGUAGE_CODE %}active{% endif %}" href="#" onclick="document.ui.language.value='{{ language.code}}'; document.ui.submit();">{{ language.code| upper }}</a>                     
              {% endfor %}
              </div>
            </div>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-user"></span> {{user.first_name}} {{user.last_name}} 
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/update/"><span class="fa fa-cog"></span> {% trans 'Change Profile' %}</a>
            <a class="dropdown-item" href="{% url 'password_change' %}?next=/"><span class="fa fa-cog"></span> {% trans 'Password change' %}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}?next=/"><span class="fa fa-sign-out"></span> {% trans 'Log out' %}</a>
        </div>
      </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% hijack_notification %}
    <div class="container">
      {% block breadcrumbs %}
          {% render_breadcrumbs %}
      {% endblock %}
      {% block content %}{% endblock content %}
    </div>
    {% bootstrap_javascript jquery='full' %}
    <script type="text/javascript" src="{% static 'select2/js/bootstrap-select.js' %}"></script>
    <script>
      $(document).ready(function(){$('select').selectpicker();});
    </script>
  </body>
</html>