{% extends "base.html" %}
{% load i18n tz %}
{% block content %}
{% if teams %}
<div class="row mt-3">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header text-center"><span>{% trans 'Vos équipes' %}</span></div>
      <div class="card-body">
        <h4>
        {% for t in teams %}
        <span class="badge badge-secondary">{{t}}</span>
        {% endfor %}
        </h4>
      </div>
    </div>
 </div>
 <div class="col-sm-6">
    <div class="card">
      <div class="card-header text-center">{% trans 'Vos catégories' %}</div>
      <div class="card-body">
        <h4>
        {% for c in categories %}
          <span class="badge badge-secondary">{{c}}</span>
          {% endfor %}
          </h4>
      </div>
    </div>
 </div>
</div>
<div class="row mt-3 justify-content-center">
  <h1>{% trans 'List of matchs' %}</h1>
</div>
  <nav class="nav nav-tabs" style="margin-bottom: 20px;">
    <a class="nav-item nav-link" data-toggle="tab" href="#all">{% trans 'All' %} <span class="badge badge-secondary">{{n_all}}</span></a>
    <a class="nav-item nav-link active" data-toggle="tab" href="#todo">{% trans 'Todo' %} <span 
    {% if n_todo > 0 %} 
      class="badge badge-success"
    {% else %}
      class="badge badge-secondary"
    {% endif %}
    >{{n_todo}}</span></a>
    <a class="nav-item nav-link" data-toggle="tab" href="#done">{% trans 'Done' %} <span class="badge badge-secondary">{{n_done}}</span></a>
    <a class="nav-item nav-link" data-toggle="tab" href="#next">{% trans 'Incoming' %} <span class="badge badge-secondary">{{n_next}}</span></a>
</nav>
<div class="row mt-3">
  <div class="tab-content">
        <div id="all" class="tab-pane fade">
          {% for am in all %}
            {% if am.match.datetime|date:"Y-m-d" <= now|date:"Y-m-d"  %}
              <p><a href='/evaluation/{{ am.id }}/'> [{{am.match.competition}}] {{ am.match.datetime|localtime|date:"d/m/Y" }}  : {{am.match.teamH}} - {{am.match.teamA}}</a></p>
            {% else %}
              <p>[{{am.match.competition}}] {{ am.match.datetime|localtime|date:"m/d/Y" }}  : {{am.match.teamH}} - {{am.match.teamA}}</p>
            {% endif %}
          {% endfor %}
        </div>
        <div id="todo" class="tab-pane active">
          {% for am in todo %}
            <p><a href='/evaluation/{{ am.id }}/'> [{{am.match.competition}}] {{ am.match.datetime|localtime|date:"d/m/Y" }}  : {{am.match.teamH}} - {{am.match.teamA}}</a></p>
          {% endfor %}
        </div>
        <div id="done" class="tab-pane fade">
          {% for am in done %}
            <p><a href='/evaluation/{{ am.id }}/'> [{{am.match.competition}}] {{ am.match.datetime|localtime|date:"d/m/Y" }}  : {{am.match.teamH}} - {{am.match.teamA}}</a></p>
          {% endfor %}
        </div>
        <div id="next" class="tab-pane fade">
          {% for am in next %}
            <p>[{{am.match.competition}}] {{ am.match.datetime|localtime|date:"d/m/Y" }}  : {{am.match.teamH}} - {{am.match.teamA}}</p>
          {% endfor %}
        </div>
  </div>
</div>
{% else %}
Aucune équipe associé à votre profil
{% endif %}
{% endblock content %}