{% extends "base.html" %}
{% load bootstrap4 static i18n hijack_tags common_tags %}

{% block content %}
<fieldset>
<form method="post" role="form">
	{% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <div class="form-group row">
    	<div class="col-md-3"></div>
    	<div class="col-md-9">
		    {% buttons %}
		        <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
		    {% endbuttons %}
		</div>
	</div>
</form>
</fieldset>
{% endblock content %}